<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" content="notranslate" />
    <title>Your Page Title</title>

    <link
      href="{{ url_for('static', filename='css/beer.min.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script
      type="module"
      src="{{ url_for('static', filename='js/beer.min.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/material-dynamic-colors.min.js') }}"
    ></script>
  </head>
  <body class="">
    <!-- Your content goes here, e.g., -->
    {% include "partials/_nav.jinja" %}
    {% include "partials/_flash.jinja" %}
    {% block content %}
    {% endblock content %}
  </body>
</html>
