<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" content="notranslate" />
    <title>{% block title %}
    
    {% endblock title %}</title>

    <link 
      href="{{ url_for('static', filename='css/beer.min.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    ></script>
  </head>
  <body class="">
    {% block content %}
    {% endblock content %}
  </body>
</html>
