{% extends "base.jinja" %}

{% block flash %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error'%}
          <div class="snackbar error" id="snackbar">
        {% elif category == 'success' %}
          <div class="snackbar primary" id="snackbar">
        {% else %}
          <div class="snackbar" id="snackbar">
        {% endif %}
          <span>{{ message }}</span>
        </div>
      {% endfor %}
      <script>
        /* elements = document.querySelectorAll("div.snackbar")
        for(e of elements) {
          e.showPopover()
          setTimeout(() => e.hidePopover(), 4000)
        } */

        ui("div.snackbar")
      </script>
    {% endif %}
  {% endwith %}
{% endblock flash %}
